// compass
@import "compass/reset";

// components
@import "components/file-explorer";
@import "components/file-viewer";

// app
body {
  background-color: #ffffcc;
  color: #363636;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 10pt;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#file-explorer {
  width: 50%;
  height: 100%;
  float: left;
  overflow: auto;
}

#file-viewer {
  width: 50%;
  height: 100%;
  float: right;
}
