// compass
@import "compass/reset";

// components
@import "components/file-explorer";
@import "components/chat-client";

// app
body {
    background-color: #ffffcc;
    color: #363636;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 10pt;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
}

#file-explorer {
    display: inline-block;
    float: left;
    height: 100%;
    width: 80%;
}

#chat-client {
    display: inline-block;
    float: left;
    height: 100%;
    width: 20%;
}