// compass
@import "compass/reset";

// components
@import "components/chat-client";
@import "components/file-explorer";
@import "components/file-search";
@import "components/nav";

// app
body {
    background-color: #ffffcc;
    color: #363636;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 10pt;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
}
